body {
  padding-top: 50px;
  text-align: center;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 5px;
}
[class*="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
  text-align: center;
  font-size: 15px;
}

.col-md-6
{
	background-color: White;
	border-color: White;
	padding-bottom: 0px;
}