body {
  padding-top: 50px;
  text-align: center;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
  text-align: center;
  font-size: 15px;
  height: 180px;
}

img {
    max-width: 90%; 
    max-height:100%;
	padding-bottom: 15px;
}

#annuityBlock
{
	background-color: #FFFFCC
}

#mortgageBlock
{
	background-color: #FFCCCC
}

#bondBlock
{
	background-color: #CCCCFF
}

#gpvBlock
{
	background-color: #CCFFFF
}

#vcfBlock
{
	background-color: #CCFFCC
}

